*{
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.primary-bg{
    background: #00000A;
    box-sizing: border-box;
    border: 1px solid #0E9CFF;
    box-shadow: inset 0px 0px 87px 0px rgba(1, 194, 255, 0.4);
    opacity: 1;
}