html , body{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: #fff;
}

:root{
    --el-tree-node-hover-bg-color:transparent;
}

.el-tree {
    --el-tree-node-hover-bg-color:transparent !important;
}